/**** DEFAULTS *****/
body {

    background: linear-gradient(rgba(245, 244, 245, 0.95), rgba(245, 244, 245, 0.95)),
        url(images/image.jpg);
    background-attachment: fixed;
}

.centerText {
    text-align: center;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


.emailLink {
    font-size: 25px;
    border-bottom: 1px dotted;
    color: black;
}

.navBar {
    background-color: rgb(16, 57, 134);
    height: 60px;
    margin-bottom: 30px;
}

nav a {
    color: white;
    font-weight: bold;
}

/**** INDEX PAGE *****/
.card-header:first-child {
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
}

.card {
    border: none;
    background-color: transparent;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;

}

/****** HOUSE AND SENATE TABLE FILTER PAGES******/
.textArea {
    padding-left: 0;
}

.labelMoreVisible{
font-weight: bold;
color:#b7211b;
font-size: 20px;
}

.labelColor{
    color:#b7211b;
    font-size: 18px;
}


.houseImg {
    background: url(images/congress_logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 250px;

}

.senateImg {
    background-image: url(images/senate_seal.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 250px;
}

.filterAreaContainer {
    margin-top: 30px;
}

.filterCheckboxes label {
    margin-right: 10px;
}

.filterCheckboxes input {
    margin-right: 5px;
}

.dropdownArea select {
    height: 30px;
    width: 60px;
    margin-left: 10px;
}

/**************/

table.tableDisplay {
    line-height: 10px;
}

table.tableDisplay td {
    text-align: center;
    vertical-align: middle;
}
/*#b7211b*/
table.table-hover tbody tr:hover {
    background-color: rgba(183, 33, 27, 0.26); 
}

table.tableDisplay th {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(16, 57, 134);
    color: white;    
}

table.tableDisplay thead {
    background-color: gray;
}

.heightThead {
    height: 50px;
}

.widthSmall {
    width: 20%;
}

.widthMedium {
    width: 40%;
}

.widthTH {
    width: 33%;
}

.widthTHsmall {
    width: 25%;
}

hr {
    margin-bottom: 30px;
}

/***** FOOTER *******/
.footer {
    display: flex;
    align-items: center;
    background-color: rgb(16, 57, 134);
    color: white;
    height: 60px;
    margin: 50px 0;
}

.footerText {
    display: block;
    margin: auto;
}
