.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
}

.emailLink{
font-size: 25px;
border-bottom: 1px dotted;
color: black;
}

.navBar{
background-color: gray;

}

.textArea{
padding: 40px 0 20px 0;
}

.filterArea{
display: flex;
flex-direction: row;
align-items: center; 
}

table.tableDisplay {
line-height: 10px;
}

table.tableDisplay td, th{
text-align: center;
}

table.tableDisplay thead{
background-color: gray;
}

.footer{
display: flex;
align-items: center;
background-color: gray;
height: 60px;
margin: 50px 0;
}

.footerText{
display: block;
margin: auto;
}
